.container{
    background-color: rgb(221, 233, 236) ;
    margin: 20%;
    width: 25%;
    border: 1px solid black;
    padding: 3%;
}
.persion_img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.click{
    position: relative;
    margin-left: 40%;
}
.persion_info{
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    border: 1px solid black;
    position: relative;
    float: right;
    display: inline;
}